@media (min-width: 1300px) and (max-width: 2560px) {
  .popup-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .homesocal {
    position: absolute;
    top: 400px;
    left: 94px;
}
  .secexclbg{
    background-image: url(../images/Exclusive-bggbigscreen.png) !important;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: contain;
    background: #715E78;
 }
 .secexclbg2{
  background-image: url(../images/Exclusive-bggbigscreenabout.png) !important;
  background-position: left;
  background-repeat: no-repeat !important;
  background-size: contain;
  margin-top: 80px;
}
.secexclbg3{
  background-image: url(../images/Exclusive-bggbigscreenabout2.jpg) !important;
  background-position: right;
  background-repeat: no-repeat !important;
  background-size: contain;
  margin-top: 80px;
}
 .clearfix p {
  font-size: 40px;
 }
 .clearfix {
  height: 600px;
}
.clearfix p i{
  font-size: 30px;
}
.beautyslider .owl-nav {
  margin-top: -296px;
  margin-bottom: 255px
}
.secfooterlogo {
  width: 65%;
}
.aectem2{
  padding-left: 20px;
}
.col-md-12.secppmm {
  padding: 0;
}
button.btn.secsubbg {
  width: 28%;
}
}
@media (min-width: 700px) and (max-width: 1299px) {
  .popup-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .secabuhomtext2 p {
    font-size: 22px;
  }
}
@media only screen and (max-width:1199px) {
  .navbar-brand {
    width: 88% !important;
    margin: 0;
    padding: 0;
}
  .offcanvas-header {
    background: #715E78;
}
.navbar-expand-xl .navbar-nav {
  flex-direction: column;
  display: flex
;
  justify-content: flex-end !important;
}
button.navbar-toggler {
  padding: 20px 20px;
}
div#navbarOffcanvas {
  background: #dcbbdfe3;
}
.col-md-12.secppmm {
  padding-left: 0;
}
.secabuhomtext2 p {
  font-size: 22px;
}
.secexclbg {
    background-image: url(../images/Exclusive-bgg1199.png) !important;
}

}

@media only screen and (max-width:1035px) {
  .navbar-brand {
    width: 88% !important;
    margin: 0;
    padding: 0;
}
  .offcanvas-header {
    background: #715E78;
}
.navbar-expand-xl .navbar-nav {
  flex-direction: column;
  display: flex
;
  justify-content: flex-end !important;
}
button.navbar-toggler {
  padding: 20px 20px;
}
div#navbarOffcanvas {
  background: #dcbbdfe3;
}
button.btn.secsubbg {
  font-size: 12px;
}
.secbooka {
  font-family: 'Mogan';
  font-size: 35px;
}
.secabuhomtext2 p , .secabuhomtext3 p {
  font-size: 17px;
}
}
@media only screen and (max-width:991px) {
  .navbar-brand {
    width: 88% !important;
    margin: 0;
    padding: 0;
}
  .offcanvas-header {
    background: #715E78;
}
.navbar-expand-xl .navbar-nav {
  flex-direction: column;
  display: flex
;
  justify-content: flex-end !important;
}
button.navbar-toggler {
  padding: 20px 20px;
}
.secboohroww{
  display: flex;
  flex-direction: column-reverse;
}

.navbar-nav>li>a {
  padding-top: 0px;
  padding-bottom: 20px;
  line-height: 40px;
}
div#navbarOffcanvas {
  background: #dcbbdfe3;
}
  .popup-gallery img {
    min-height: 150px;
    max-height: 150px;
  }
  .sec-logo-img {
    width: 31%;
}
.secmainheader {
  padding-top: 190px;
}

.clearfix p {
    color: #fff;
    font-size: 25px;
  }
  .secfootbookbg {
    padding: 50px 0px 50px 0px;
}
.secexclbg {
  background-position: left ;
  padding: 0;
  background-image: none !important;
}
.secexcltext {
  padding-left: 0px;
  padding-top: 30px;
}
.secexclbg2 {
  background-position: left ;
  padding: 0px;
  padding-bottom: 30px;
  background-image: none !important;
}
.secabuhomtext2 p {
  padding-left: 0px;
}
.secexclbg3 {
  background-position: right ;
  padding:  0px;
  background-image: none !important;
  padding-bottom: 30px;
}
.row.m-0.secdesktop {
  padding-bottom: 60px;
}
.secmibmar {
  padding-left: 14px;
}
.secabuhomtext3 p {
  padding-right: 0px;
}
.sec-sev-book-p{
  text-align: start;
}
.col-lg-3.sec-cent-c {
  text-align: end;
}
.secfootbookbg2 {
  padding: 50px 50px 50px 50px;
  margin: 20px 7px 7px 0px;
  margin-right: 20px !important;
  width: 98%;
}
}
@media only screen and (max-width:768px) {

  div#navbarOffcanvas {
    background: #dcbbdfe3;
}


  .sec-logo-img {
    width: 33%;
  }
  button.navbar-toggler {
    border: 1px solid #715E78;
    background: #715E78;
    height: 45px;
    padding: 13px 15px;

  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: column;
    display: flex;
    justify-content: flex-end !important;
  }
  .secwhitpad {
    width: 100% !important;
  }
  .paddhero2 {
    padding-top: 10px !important;
    padding: 0px;
  }
  .paddhero {
    padding-top: 170px;
  }
  .secmodihid {
    display: none;
  }
  a.navbar-brand {
    width: 77% !important;
  }
  .navbar-brand {
    padding: 0;
  }
  .offcanvas-header {
    background: #715E78;
  }
  .headermenusec {
    color: #000;
  }
  .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 40px;
  }
  .navbar-nav {
    margin: 0;
  }
  .secmainheader h1 {
    font-size: 40px;
  }
  .homesocal {
   display: none;
}
.secpaddmm{
  padding-top: 40px;
}
.secmainheader {
  padding-top: 150px;
}
.secmainheader p {
  padding-top: 20px;
}
.secmainheader p a {
  padding-top: 0px !important;
  padding: 0px 10px;
}
.sechomebtn {
  padding-top: 20px;
}
.hero-bg {
  padding-bottom: 35px;
}
.secpaddhab {
  padding: 40px 10px;
}
.secabuhomtext p {
  color: #000;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  padding-left: 0px;
}
.secabuhomtext2 p {
  color: #000;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  padding-left: 0px;
}
.secabuhomtext3 p {
  color: #000;
  font-size: 18px;
  padding-top: 20px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}
.sechomebtn2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  text-align: center;
}
.secsrvbgg {
  padding: 40px 10px;
}
.sechead h2 {
  font-size: 30px;
}
.secserbimg {
  padding: 10px;
  border: 1px solid #c5c5c5;
  margin-bottom: 30px;
}
.secpadm{
  padding: 0;
}
.secexcl h3 {
  font-size: 30px;
}
.secexcl h3 span {
  font-size: 20px;
}
.secexcltext {
  padding-left: 0px;
  padding-top: 30px;
}
.secexclbg {
  background-position: top !important;
  padding: 0px 0px 40px 0px !important;
  background-image:none;
}
.secexclbg2 {
  background-position: top !important;
  padding: 0px 0px 40px 0px !important;
  background-image: none;
}
.secexclbg3 {
  background-position: top !important ;
  padding: 0px 0px 40px 0px !important;
  background-image: none;
  
}
.secratigntab {
  padding: 40px 0px;
}
.clearfix p {
  color: #fff;
  font-size: 18px;
}
.headermenusec:hover {
  color: #000;
}
.clearfix {
  padding: 50px 0px 0px 0px;
}
.sectextem .owl-dots {
  text-align: center;
  padding-bottom: 50px;
}
.nav-pills>li>a {
  width: 100% !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  width: 100% !important;
}
.secpasimstar {
  padding-right: 0;
  padding-left: 0;
}
.secbeautybg {
  padding: 40px 10px;
}
.beautyslider .owl-nav {
  display: none;
}
.secfootbookbg2 {
  padding: 50px 10px 50px 10px;
  width: 100%;
  
}
.secfootbookbg {
  padding: 50px 0px;
}
.secfooterbg {
  padding: 0;
}
.secdesktop{
  display:flex;
  flex-direction: column-reverse;
  padding-bottom: 55px;
}
.secmobile{
  display: block;
  display: flex  ;
  flex-direction: column-reverse;
}
.socalmedia {
  text-align: end;
  display: flex
;
  justify-content: flex-start;
  padding-top: 10px;
}
.secppmm{
  padding: 0;
}
.secfooterlogo {
  width: 65%;
  padding-bottom: 6px;
}
.gallery_container {
  padding: 50px 10px;
}
.secbooka {
  font-size: 38px;
}
.sec-contact-padding {
  padding: 50px 0px;
}
.secmobile22 {
  padding-top: 40px;
}
.sec-sev-book-h {
  font-size: 18px;
}
.sec-sev-book-p {
  text-align: left;
}
.sec-menu-btn22 {
  font-size: 14px;
  border-radius: 5px;
  padding: 11px 15px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.sec-cent-c {
  margin-bottom: 0px;
  text-align: end;
}
.sec-bord-serv {
  text-align: left;
  border: 1px solid #DCDCDC;
  margin-bottom: 20px;
  padding-bottom: 16px;
}
.secsedserv {
  padding: 20px 10px;
} 
.serbook {
  padding: 50px 0px;
}
.secmiss {
  font-size: 26px;
  color: #000;
}
.secmibbtext p, .secmiss2 {
  font-size: 16px;
}
.secmibbtext h4 {
  font-size: 25px;
}
.secaboutbggal {
  background: #FFF7EF;
  padding: 50px 0px;
}
.secmibmar {
  padding-left: 10px;
}
}
@media only screen and (max-width:430px) {
  .secexclbg {
    background-position: top !important;
    padding: 0px 0px 40px 0px !important;
}
.sec-logo-img {
  width: 54%;
}
.secexclbg2 {
  background-position: top !important;
  padding: 0px 0px 40px 0px !important;
}
.secexclbg3 {
  background-position: top !important;
  padding: 0px 0px 40px 0px !important;
}
  .secmiss {
    font-size: 35px;
}
.secmibmar {
  padding-left: 10px;
}
.secabuhomtext p {
  font-size: 20px;
  padding-left: 0px;
}
.secabuhomtext2 p {
  font-size: 20px;
  padding-left: 0px;
}
.secabuhomtext3 p {
  font-size: 20px;
  padding-left: 0px;
}
.secaboutbggal {
  padding: 50px 10px;
}
}
@media (min-width: 300px) and (max-width: 699px) {
  .popup-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
} 
@media only screen and (max-width:425px) {
  .secmainheader {
    padding-top: 107px;
}
.sec-logo-img {
  width: 48% !important;
}
.secexclbg3 {
  background-position: top !important;
  padding: 0px 0px 40px 0px !important;
  margin: 0px;
}
.secexclbg2 {
  background-position: top !important;
  padding: 0px 0px 40px 0px !important;
} 
.secexclbg {
  background-position: top !important;
  padding:0px 0px 40px 0px !important;
}
.secpaddmm {
  padding-top: 109px;
}
.secabuhomtext2 {
  padding-top: 0px;
  width: 100%;
}
.secabuhomtext3{
  padding-top: 11px;
}
}
@media only screen and (max-width:375px) {
  .secmainheader {
    padding-top: 107px;
}
.secpaddmm {
  padding-top: 62px;
}
.secabuhomtext2 {
  padding-top: 15px;
}
.secabuhomtext3{
  padding-top: 70px;
}
}
@media only screen and (max-width:320px) {
  .secmainheader {
    padding-top: 107px;
}
.sec-logo-img {
  width: 60% !important;
}
.secpaddmm {
  padding-top: 15px;
}
.secabuhomtext2 {
  padding-top: 0px;
}
.secabuhomtext3{
  padding-top: 24px;
}
}
