/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }
  .secexclbg{
    background-image: url(../images/Exclusive-bggbigscreen.png) !important;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: contain;
    background: #715E78;
 }
 .clearfix p {
  font-size: 40px;
 }
 .clearfix {
  height: 600px;
}
.clearfix p i{
  font-size: 30px;
}
.beautyslider .owl-nav {
  margin-top: -296px;
  margin-bottom: 255px
}
.secfooterlogo {
  width: 65%;
}
.aectem2{
  padding-left: 20px;
}
.col-md-12.secppmm {
  padding: 0;
}
}



@media only screen and (max-width:1440px) {}


/*  */
@media only screen and (max-width:999px) {}





@media only screen and (max-width:768px) {
  .sec-logo-img {
    width: 50%;
  }
  button.navbar-toggler {
    border: 1px solid #715E78;
    background: #715E78;
    margin-top: 17px;
    height: 45px;
    padding: 13px 15px;

  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: column;
    display: flex;
    justify-content: flex-end !important;
  }
  .secwhitpad {
    width: 100% !important;
  }
  .paddhero2 {
    padding-top: 10px !important;
    padding: 0px;
  }
  .paddhero {
    padding-top: 170px;
  }
  .secmodihid {
    display: none;
  }
  a.navbar-brand {
    width: 77% !important;
  }
  .navbar-brand {
    padding: 0;
  }
  .offcanvas-header {
    background: #000;
  }
  .headermenusec {
    color: #000;
  }
  .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
  }
  .navbar-nav {
    margin: 0;
  }
  .secmainheader h1 {
    font-size: 40px;
  }
  .homesocal {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.secmainheader {
  padding-top: 73px;
}
.secmainheader p {
  padding-top: 20px;
}
.secmainheader p a {
  padding-top: 0px !important;
  padding: 0px 10px;
}
.sechomebtn {
  padding-top: 20px;
}
.hero-bg {
  padding-bottom: 35px;
}
.secpaddhab {
  padding: 40px 10px;
}
.secabuhomtext p {
  color: #000;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  padding-left: 0px;
}
.sechomebtn2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  text-align: center;
}
.secsrvbgg {
  padding: 40px 10px;
}
.sechead h2 {
  font-size: 30px;
}
.secserbimg {
  padding: 10px;
  border: 1px solid #c5c5c5;
  margin-bottom: 30px;
}
.secpadm{
  padding: 0;
}
.secexcl h3 {
  font-size: 30px;
}
.secexcl h3 span {
  font-size: 20px;
}
.secexcltext {
  padding-left: 0px;
  padding-top: 30px;
}
.secexclbg {
  background-position: top !important;
  padding: 315px 0px 40px 0px;
}
.secratigntab {
  padding: 40px 0px;
}
.clearfix p {
  color: #fff;
  font-size: 18px;
}
.clearfix {
  height: auto;
}
.nav-pills>li>a {
  width: 100% !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  width: 100% !important;
}
.secpasimstar {
  padding-right: 0;
  padding-left: 0;
}
.secbeautybg {
  padding: 40px 10px;
}
.beautyslider .owl-nav {
  display: none;
}
.secfootbookbg2 {
  padding: 50px 10px 100px 10px;
}
.secfootbookbg {
  padding: 50px 0px;
}
.secfooterbg {
  padding: 0;
}
.secdesktop{
  display: none;
}
.secmobile{
  display: block;
  display: flex  ;
  flex-direction: column-reverse;
}
.socalmedia {
  text-align: end;
  display: flex
;
  justify-content: flex-start;
  padding-top: 10px;
}
.secppmm{
  padding: 0;
}
.aectem2{
  padding-left: 0px;
}
.secfooterlogo {
  width: 65%;
  padding-bottom: 6px;
}
}


