@font-face {
   font-family: 'Mogan';
   src: url(../font/Mogan.ttf);
}

@font-face {
   font-family: 'Betterlett';
   src: url(../font/Betterlett.ttf);
}

.sec-menu-bgg{
   background-color: #dcbbdfcc;
}
.hero-bg{
   padding: 0;
   background-image: url(../images/mainbgging.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 150px;
}
.navbar-expand-xl .navbar-nav {
   flex-direction: row;
   display: flex;
   justify-content: flex-end !important;
}
.navbar-brand {
   width: 17% !important;
   margin: 0;
   padding: 0;
}
nav.navbar.navbar-expand-xl.navbar-dark {
   margin: 0;
   padding-top: 20px;
   padding-bottom: 20px;
}
.headermenusec {
   color: #000;
   font-family: 'Figtree';
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   text-transform: capitalize;
}

.headermenusec:hover {
   color: #fff;
}

.headermenusec2btn {
   background: transparent;
   border: 1px solid #000;
   display: inline-flex;
   padding: 10px 30px 10px 30px !important;
   color: #000;
   text-align: center;
   font-family: 'Figtree';
   text-transform: uppercase;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
}

.headermenusec2btn:hover {
   color: #fff;
   background: transparent;
   border: 1px solid #fff;
}

.secmainheader{
   padding-top: 150px;
   text-align: center;
}
.secmainheader h1{
   font-family: 'Mogan';
   font-size: 80px;
   color: #ffff;
   margin: 0;
}
.secmainheader h1 span{
font-family: 'Betterlett'  !important;
color: #E1CAD0;
}
.secmainheader p{
   font-family: 'Figtree'  !important;
   color: #fff;
   font-size: 20px;
   }
.homesocal{
   position: absolute;
   top: 400px;
   left: 20px;
}
.homesocal p a i{
   color: #fff;
}
.sechomebtn{
   padding-top: 50px;
   padding-bottom: 50px;
}
.sechomebtn a{
   font-family: 'Figtree' ;
   color: #000;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   background-color: #fff;
   padding: 12px 32px;
}
.sechomebtn a:hover{
   background-color: #000;
   color: #fff;
}

/* whatsapp */
a {
   text-decoration: none !important;
 }
 
 .floating_btn {
   position: fixed;
   bottom: 0px;
   width: 100px;
   height: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 1000;
 }
 
 @keyframes pulsing {
   to {
     box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
   }
 }
 
 .contact_icon {
   background-color: #42db87;
   color: #fff;
   width: 60px;
   height: 60px;
   font-size: 30px;
   border-radius: 50px;
   text-align: center;
   box-shadow: 2px 2px 3px #999;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translatey(0px);
   animation: pulse 1.5s infinite;
   box-shadow: 0 0 0 0 #42db87;
   -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   font-weight: normal;
   font-family: sans-serif;
   text-decoration: none !important;
   transition: all 300ms ease-in-out;
 }
 
 .text_icon {
   margin-top: 8px;
   color: #707070;
   font-size: 13px;
 }
 
 /* whatsapp end */

 
/* back to top */
#button {
   display: inline-block;
   background-color: #715E78;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 4px;
   position: fixed;
   bottom: 30px;
   right: 30px;
   transition: background-color .3s, 
     opacity .5s, visibility .5s;
   opacity: 0;
   visibility: hidden;
   z-index: 1000;
 }
 #button::after {
   content: "\f077";
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   font-size: 2em;
   line-height: 50px;
   color: #fff;
 }
 #button:hover {
   cursor: pointer;
   background-color: #333;
 }
 #button:active {
   background-color: #555;
 }
 #button.show {
   opacity: 1;
   visibility: visible;
 }
 .content {
   width: 77%;
   margin: 50px auto;
   font-family: 'Merriweather', serif;
   font-size: 17px;
   color: #6c767a;
   line-height: 1.9;
 }
 @media (min-width: 500px) {
   .content {
     width: 43%;
   }
   #button {
     margin: 30px;
   }
 }
 p.secdiet img {
   padding-bottom: 10px;
}
 .content h1 {
   margin-bottom: -10px;
   color: #03a9f4;
   line-height: 1.5;
 }
 .content h3 {
   font-style: italic;
   color: #96a2a7;
 }
 /* back to top-end */

 .secpaddhab{
   padding: 80px 10px;
 }
.secabuhomtext{
   width: 100%;
}
.secabuhomtext p{
   font-family: 'Figtree' ;
   color: #000;
   font-size: 30px;
   padding-left: 40px;
}

.sechomebtn2{
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 40px;
}
.sechomebtn2 a{
   font-family: 'Figtree' ;
   color: #C08A99;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   border: 1px solid #A38AAC;
   padding: 12px 32px;
}
.sechomebtn2 a:hover{
   color: #000;
}
.secsrvbgg{
   background-color: #EBDFDC;
   padding: 80px 10px;
}
.sechead p{
   font-family: 'Figtree' ;
   color: #40372C;
   text-align: center;
   font-size: 12px;
   text-transform: uppercase;
}
.sechead h2{
   font-family: 'Mogan';
   font-size: 60px;
   color: #40372C;
   text-align: center;
}
.secserbimg{
   padding-top: 20px;
}
.secservtext{
   padding-top: 20px;
}
.secservtext h4{
   font-family: 'Mogan';
   font-size: 30px;
   color: #000;
}
.secservtext p{
   font-family: 'Figtree' ;
   font-size: 16px;
   color: #000;
}
.secexclbg{
   background-image: url(../images/Exclusive-bgg.png) !important;
   background-position: left !important;
   background-repeat: no-repeat !important;
   background-size: contain !important ;
   background: #715E78;
   padding: 80px 10px;
}
.secexcl h3{
   font-family: 'Mogan';
   font-size: 60px;
   color: #fff;
}
.secexcl h3 span{
   font-family: 'Betterlett';
   font-size: 50px;
   color: #E1CAD0;
}
.secexcltext{
 padding-left: 180px;
 padding-top: 30px;
}
.secexcltext p{
   font-family: 'Figtree' ;
   font-size: 18px;
   color: #fff;
}
.secicontext p i{
   background-color: #A38AAC;
   border-radius: 50px;
   padding: 0px 2px;
}

.sechomebtn3{
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 0px;
}
.sechomebtn3 a{
   font-family: 'Figtree' ;
   color: #000;
   font-size: 18px;
   font-weight: 500;
   text-transform: uppercase;
   border: 1px solid #fff;
   padding: 12px 32px;
   background-color: #fff;
}
.sechomebtn3 a:hover{
   background-color: #000;
   border: 1px solid #000;
   color: #fff;
}
.secratbg{
   background: #310B3F;
   padding:0px;
}
.secpasimstar{
   padding-right: 0;
}

